body{
    width: 100vw;
    height: 95vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    place-items: center;
    background-color: black;
    color: white;
}
#lienzo{
    box-shadow: 0px 0px 10px blue;
}

h1{
    text-align: center;
}