body{
    width: 95vw;
    height: 95vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    place-items: center;
    background-color: black;
    color: white;
}
#lienzo{
    box-shadow: 0px 0px 10px blue;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
}

.btn{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 5px solid violet;
    background-color: black;
    color: white;
    font-weight: bold;
    margin: 3rem;
}

.btn:active{
    background-color: blueviolet;
}

.left, .right{
    height: 60rem;
    display: flex;
    flex-direction: column;
}